<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.ReviewDao">
	<resultMap type="Review" id="reviewMap">
		<result column="review_id" property="reviewId"/>
		<result column="video_id" property="videoId"/>
		<result column="writer_id" property="writerId"/>
		<result column="writer_name" property="writerName"/>
		<result column="review_title" property="reviewTitle"/>
		<result column="review_content" property="reviewContent"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>

	<!-- 전체글 조회 -->
	<select id="selectAll" resultType="Board">
		SELECT id, content, writer, title, view_cnt as viewCnt, date_format(reg_date, '%Y-%M-%d') as regDate
		SELECT
			review_id,
			video_id,
			writer_id,
			writer_name,
			review_title,
			review_content,
			date_format(write_date, '%Y-%M-%d') as write_date
		FROM review
		WHERE id = #{id};
	</select>

	<!-- 상세글 조회 -->
	<select id="selectOne" resultMap="boardMap" parameterType="int">
		SELECT *
		FROM board
		WHERE id = #{id};
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="Board" keyProperty="reviewId" useGeneratedKeys="true">
		INSERT INTO review (video_id, writer_id, writer_name, review_title, review_content)
		VALUES (#{videoId}, #{writerId}, #{writerName}, #{reviewTitle}, #{reviewContent})
	</insert>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE id = #{id}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE board
		SET view_cnt = view_cnt+1
		WHERE id = #{id}
	</update>
	
	<!-- 게시글 수정 -->
	<!-- 컬럼이 등록 날짜만 관리를 하고 있다. -->
	<!-- 등록날짜 / 최근 조회날짜 / 수정 날짜 .... -->
	<update id="updateBoard" parameterType="board">
		UPDATE board
		SET title = #{title}, content = #{content}, reg_date = now()
		WHERE id = #{id}
	</update>
	
	<!-- 검색기능  -->
	<select id="search" resultType="Board" parameterType="SearchCondition">
		SELECT id, content, writer, title, view_cnt as viewCnt, date_format(reg_date, '%Y-%M-%d') as regDate
		FROM board
		<!-- 검색 조건 (동적쿼리)-->
		<if test="key != 'none'">
			WHERE ${key} LIKE concat('%', #{word}, '%')
		</if>
		<!-- 어떤 기준으로 어떤 방향으로 정렬 -->
		<if test="orderBy != 'none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>
	
	
	
	
	
	
	
	
	
	




</mapper>